<% provide(:title, t("home")) %>
<div class="center jumbotron">
  <h1><%= t(".welcome") %></h1>
    <h2>
      <%= raw t(".str_home", link: link_to(t(".ruby_on_rail_tutorial"), t(".link_rails"))) %>
    </h2>
    <%= link_to (t".sign_up"), signup_path, class: "btn btn-lg btn-primary" %>
</div>
<img alt="Rails logo" src="/assets/rails.png" />
